// **************************************
// BANNER STYLES
// **************************************

@use "../utilities" as *;

.banner__container {
  padding: 1rem 0 0;
}

.banner__content {
  padding-inline: px-to-rems(30px);
  width: 100%;
  @include mq('md') {
    padding-left: px-to-rems(50px);
    background-image: url("../../assets/images/3163534-uhd_3840_2160_30fps.mp4");
  }
 }

 .banner__img--container  {
  width: 40%;
  position: relative;
  display: inline-block;
 }

.banner__cta--container {
  padding: 2rem 0 4rem;
}

.banner__icons {
  width: clamp(px-to-rems(30px), 8.5vw, px-to-rems(60px)) ;
  height: clamp(px-to-rems(30px), 8.5vw, px-to-rems(60px));
  @include mq("md") {
    width: clamp(px-to-rems(40px), 5.2vw, px-to-rems(50px)) ;
  }
}
.banner__icons:nth-of-type(2) {
  margin-inline: .75rem
}

.banner__stats {
border-radius: 20px;
margin-inline: px-to-rems(50px);
  @include mq("md") {
    padding-left: px-to-rems(50px);
    padding-right: px-to-rems(50px);
  }
  @include mq("lg") {
    padding-left: px-to-rems(60px);
    padding-right: px-to-rems(60px);

  }
}