// **************************************
// CAROUSEL | SLIDER STYLES
// **************************************

@use "../utilities" as *;


.slider__header {
  max-width: 320px;
}

.slider-wrapper {
  overflow-x: auto;
  padding: 0 20px;
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.slider-wrapper::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Webkit browsers */
}

.slider__container {
  margin-block: 3.125rem 4.375rem;
  position: relative;
}


// .slider__cards {
//   display: flex;
//   justify-content: center;
//   gap: 30px;
//   overflow-x: auto;
//   scroll-snap-type: x mandatory;
//   scroll-behavior: smooth;
//   overflow-x: scroll; /* Allows horizontal scrolling */
//   -ms-overflow-style: none;  /* Internet Explorer 10+ */
//   scrollbar-width: none;
//   @include mq('md') {
//     justify-content: flex-start;
//     flex-wrap: nowrap;
//     padding: 20px;
//   }
// }

.slider__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  @include mq('md') {
    gap: 30px;
  }
}

.slider__cards::-webkit-scrollbar {
  display: none;
}